
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Three DEE Social by Joshua & Kevin</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
		</style>
	</head>

	<body>
				<!-- Modal -->
		<div class="modal fade" id="tweetsModal" tabindex="-1" role="dialog" aria-labelledby="tweetsModalLabel" aria-hidden="true">
		  <div class="container">
		    <div class="row">
		        <form class='tags-form'>
							<div class='form-group'>
								<label>THE TWITTERSPHERE
								</label>
								<input class='form-control tweet-tags' placeholder='type trends to follow' id='tags'>
							</div>
							<div class="trends">
								currently trending: <%= @trends %>
							</div>
						</form>
		    </div>
		  </div>
		</div>

	</body>
</html>
