// Place all the styles related to the threedscene controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.threedsocial {
  z-index:1;
  opacity: 100;
  transition: opacity 1s;
  &.backgrounded {
    z-index:-2;
    opacity: 0;
  }
}


body {
	background: rgba(157,170,170,1);
  background: -moz-linear-gradient(top, rgba(157,170,170,1) 0%, rgba(157,170,170,1) 6%, rgba(35,48,48,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(157,170,170,1)), color-stop(6%, rgba(157,170,170,1)), color-stop(100%, rgba(35,48,48,1)));
  background: -webkit-linear-gradient(top, rgba(157,170,170,1) 0%, rgba(157,170,170,1) 6%, rgba(35,48,48,1) 100%);
  background: -o-linear-gradient(top, rgba(157,170,170,1) 0%, rgba(157,170,170,1) 6%, rgba(35,48,48,1) 100%);
  background: -ms-linear-gradient(top, rgba(157,170,170,1) 0%, rgba(157,170,170,1) 6%, rgba(35,48,48,1) 100%);
  background: linear-gradient(to bottom, rgba(157,170,170,1) 0%, rgba(157,170,170,1) 6%, rgba(35,48,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9daaaa', endColorstr='#233030', GradientType=0 );
}

div.dg {
  &.ac {
    z-index: 2;
  }
  .dg.a {
    margin-right: 0;
  }
  .dg.main {

  }
  li:nth-child(1) .property-name {
    text-align:center;
  }
  li:nth-child(2) .property-name {
    text-align:center;
    width: 100%
  }
  width: 100%;
  span.property-name {
    width: 20%;
    &+div > input[type='text'] {
      text-align:center;
      margin-top: 0;
    }
  }
  div.close-button {
    width:100%;
  }
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
