// Place all the styles related to the threedscene controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.threedsocial {
  z-index:1;
  position: fixed;
  top: 20px;
  height: calc(100vh - 20px);
  opacity: 100;
  transition: opacity 1s;
  &.backgrounded {
    z-index:-2;
    opacity: 0;
  }
}

body {
  canvas {
    position: fixed;
    z-index: -1;
    width:100%;
    height: calc(100vh - 20px);
    top:20px;
    opacity: 100;
    transition: opacity 1s;
    &.faded {
      opacity: 0;
      z-index: -2;
    }
  }
}

div.dg {
  &.ac {
    z-index: 2;
  }
  .dg.a {
    margin-right: 0;
  }
  .dg.main {

  }
  li:nth-child(1) .property-name {
    text-align:center;
  }
  li:nth-child(2) .property-name {
    text-align:center;
    width: 100%
  }
  width: 100%;
  span.property-name {
    width: 20%;
    &+div > input[type='text'] {
      text-align:center;
      margin-top: 0;
    }
  }
  div.close-button {
    width:100%;
  }
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
